:root { 
--black_900:#000000; 
--gray_900_e5:#222222e5; 
--gray_900_cc:#1f1f1fcc; 
--indigo_900:#1e2875; 
--blue_gray_900_b2:#1c274cb2; 
--white_A700:#ffffff; 
--black_900_4f:#0000004f; 
--gray_50:#fafbff; 
--amber_A400:#ffcb00; 
}